/* .visible {
    font-size: 30px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  top: 0;
  left: 0;
}

.block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.invisible {
  display: none;
}
